.greeting {
	font-size: 80px;
	margin-top: 50px;
	margin-bottom: 50px;
}
/*#description{

  display: inline-block;
  position: relative;
  height: 50px;
  padding: 0;
  position: relative;
} */

textarea{
  font-size: 20px;
/*  display: inline-block;*/
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  color: #659CEF;
  border: none;
  padding: 3px;
/*  padding-right: 60px;*/
/*  position: absolute;
*/ /* top: 0;
  right: 0;*/
  background: none;
  width: 400px;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text;
  cursor: pointer;
  text-align: left;
  resize: none;
}

textarea:focus 
{outline:0;}

.expanding {
  vertical-align: top;
}


textarea:focus:required:valid {
  border-bottom: 1px solid #BBB;
}

textarea:required:valid {
  border-bottom: 1px solid #BBB;
}

#chart {
  margin-top: 20px;
}