{% extends "base.html" %}
{% block content %}
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/login.css') }}">
</head>
<div id="searchbar">
  <form action="" autocomplete="on">
  <input id="search" name="search" type="text" placeholder="Who're we looking for ?"><input id="search_submit" value="Rechercher" type="submit">
  </form>
</div>
<div id="splash-content">
    <div class="title">
        <div class="title_text">Peeph</div>
            <div id="chart"><script>
            var mycfg = {
            w: 300,
            h: 300,
            }

            var d = [
             {value: 75, order:0}, 
             {value: 75, order:1}, 
             {value: 75, order:2},  
             {value: 75, order:3},  
             {value: 75, order:4}
            ];
            RadarChart.draw("#chart", d, mycfg);
            </script></div>
        <div class="title_text">le</div>
    </div><br>
    <form action=" {{ url_for('.login') }}" method="POST"><button type="submit" class="button">LOGIN WITH<img src="http://www.freeiconspng.com/uploads/facebook-f-logo-transparent-facebook-f-22.png" style="width: 50px;"></button></form>
<!--     <div class="button">Help</div> -->
 </div>

<!-- <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button> -->


<div id="status"></div>
{% endblock %}
